#eggs { width:350px; margin:0 auto; text-align:center;}
.eggmage {max-width:300px;}
.single-monster{
  text-align: center;
  list-style: none;
}
#seleggtor { text-align:center; }
#seleggtor select { width:100%; text-align:center;}
.monster-list ul {padding:0;}
.monster-list .rank { text-decoration: underline;}

#eggs #about a {display:inline-block; font-size:0.9rem;}